{% extends 'core/base.html' %}
{% block title %}About us{% endblock %}

{% block content %}
<div
  class="rounded-lg p-6 text-neutral-700 shadow-lg dark:bg-neutral-600 dark:text-neutral-200 dark:shadow-black/30">
  <h2 class="mb-5 text-3xl font-semibold">Khoe.</h2>
  <h3 class="text-2xl  text-red-500">About Us</h3>
  <p class="text-lg">
Khoe. is a trendy and fashionable clothing brand that celebrates the beauty and diversity of the Khoe, 
khoe people of South Africa. Our clothes are made from high-quality materials and are designed to be both stylish and comfortable.
 We believe that everyone should be able to express their unique sense of style, and we are committed to providing our customers with a wide range of options to choose from.
</p>
<h3 class="text-2xl mt-5  text-red-500">Our Products</h3>

<p class="text-lg">
Khoe. offers a wide range of trendy and fashionable clothing for men, women, and children. Our clothes are made from high-quality materials, including organic cotton, recycled polyester, and Tencel. We also offer a variety of sustainable practices in the production of our clothes, such as water-saving dyeing and Fair Trade Certified™ manufacturing.
</p>

<h3 class="text-2xl mt-5  text-red-500">Our Mission</h3>

<p class="text-lg">
Khoe. is on a mission to celebrate the beauty and diversity of the Khoekhoe people. We believe that fashion is a powerful tool for self-expression, and we are committed to providing our customers with a wide range of stylish and comfortable clothes that reflect their unique sense of style.
We are proud to be a part of the Khoekhoe community, and we are committed to using our platform to promote awareness of Khoekhoe culture and heritage. We believe that everyone should have the opportunity to learn about and celebrate the diversity of our world, and we are committed to doing our part to make that happen.
</p>

</div>
{% endblock %}